    /* celeste: #91b3e1
    rosa:#f0958f */

/*Estilos generales */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color:  #ecf0f5 ;
    
}
/*Estilos nav*/
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    margin: 7px;
    padding: 7px;
}

.nav a {
    text-decoration: none;
    color: white;
    background-color: #91b3e1 ;
    padding: 3px 8px;
    border-radius: 20px;
}
.nav a:hover {
    background-color:  #f0958f;
    transition: 0.5s;
}
.logo img {
    width: 50px;
    display: flex;
    flex-direction: row;
    
}
/*Estilos Hero*/
.hero {
    background-color: #91b3e1
}

.hero img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

/*Estilos footer */
footer { width: 100%;
    margin:0;
    overflow:hidden;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #91b3e1;
    padding: 10px;
}
.redes{
    display: flex;
    align-items:center;
    justify-content:center;
    margin: 10px;
    position: relative;
}
.redes a{
    text-decoration: none;
    color: #feffff;
    font-size:20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #f0958f;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,.5);
    margin: 0 5px;
}
.redes a:hover {
    background-color: #91b3e1;
    transition: 01s;
}

/*Acerca De mi*/
.acercaDeMi {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.acercaDeMi img{
    width: 250px;
    border-radius: 10px;
    border: solid 10px rgb(239, 235, 235);
    box-shadow: 7px 7px rgba(9, 2, 2, 0.2);
    margin-bottom: 10px;
}
.acercaDeMi > p {
    justify-content: center;
    margin: 15px;
    display: block;
}

/*Clases*/
.clases {
    display: flex;
}
.clases img {
    display: flex;
    flex-direction: column;
    width: 50px;
}