@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Trocchi&display=swap");

/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Variables para colores y fuentes */
:root {
  --celeste: #93b3e3;
  --negro: #060708;
  --rosa_oscuro: #c25a5c;
  --rosa_claro: #e18e88;
  --azul: #4c5c75;
  --blanco_texto: aliceblue;
}

body {
  background-color: var(--blanco_texto);
  color: var(--azul);
  font-family: trocchi;
  margin: 5px;
  width: 100%;
  overflow-x: hidden;
}
/*Estilos footer */
footer {
  width: 100%;
  margin: -5px;
  overflow: hidden;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: var(--celeste);
  padding: 10px;
}

/* titulos */
.title {
  display: flex;
  border-radius: 20px;
  padding: 3px 10px;
  margin: 10px;
  background-color: var(--rosa_claro);
  justify-content: center;
  color: var(--negro);
  font-weight: 500;
}

/*Estilos btn*/
.btn {
  border-style: none;
  background-color: var(--rosa_claro);
  color: var(--blanco_texto);
  padding: 15px 30px;
  border-radius: 0.8rem;
  margin-top: 10px;
}
.btn:hover {
  background-color: var(--rosa_oscuro);
  transition: all 0.2s ease-in-out;
}

/*Estilos nav*/
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  padding: 5px;
  z-index: 2;
  position: relative;
}
.nav a {
  text-decoration: none;
  color: var(--azul);
}
.nav a:hover {
  background-color: var(--rosa_claro);
  transition: 0.5s;
  border-radius: 0px 20px 20px 0px;
  padding: 0 15px;
}
.menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  transform: translateX(200%);
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.logo img {
  width: 100px;
  display: flex;
  flex-direction: row;
}
.logo-menu {
  color: var(--azul);
  font-size: 25px;
}

/* Banner welcome */
.welcome h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  max-width: 100%;
  color: var(--celeste);
  text-shadow: 6px 5.5px var(--rosa_claro);
  margin-bottom: 30px;
}

/* Cursos */
.cursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
}
.cursos img {
  display: flex;
  flex-wrap: nowrap;
  width: 350px;
  margin: 0 auto;
}
.items {
  display: flex;
  flex-direction: column;
}
.cursos a {
  background-color: var(--celeste);
  text-decoration: none;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 10px;
  color: var(--blanco_texto);
  text-align: center;
}
.cursos a:hover {
  background-color: var(--rosa_oscuro);
  transition: 0.2s;
  padding: 5px 15px;
}
/* Efectos de banner del curso */
.item {
  border-radius: 30px;
  transition: all 0.9s;
}
.item:hover {
  box-shadow: 0 10px 20px var(--azul);
}
.item img {
  max-width: 350px;
  border-radius: 30px;
  transition: all 0.5s;
}
.item figure {
  overflow: hidden;
}
/* About me */

.about-me {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about-me p {
  margin: 10px;
}
.ana {
  display: flex;
  max-width: 300px;
  width: 90vh;
  border-radius: 100%;
  margin: auto;
  padding: 1rem;
}

/* Estilos contacto */
.contacto {
  min-width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px;
}
.contacto a {
  text-decoration: none;
  color: beige;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #91b3e1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0.5);
  margin: 10px;
}
.contacto a:hover {
  background-color: var(--rosa_claro);
}
/*Testimonios*/
.testimonios {
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.testimonios-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  text-align: center;
  gap: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 20px;
  padding: 1rem 2rem;
}
.testimonio-card-mensaje {
  align-items: center;
  padding-top: 0.5rem;
}
/* login */

.conteiner-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--celeste);
  padding: 50px;
  border-radius: 50px;
  max-width: 300px;
}
.conteiner-login h2 {
  margin-bottom: 20px;
}
.conteiner-login input {
  margin: 10px;
  padding: 5px 30px;
  border-radius: 10px;
  border-style: none;
}
.conteiner-login button {
  background-color: var(--rosa_claro);
  border-style: none;
  padding: 5px 20px;
  border-radius: 20px;
  margin-top: 20px;
  font-family: trocchi;
  font-size: 14px;
  color: var(--blanco_texto);
}
.conteiner-login a {
  text-decoration: none;
  color: var(--azul);
  font-size: 12px;
  margin-top: 10px;
}
.conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
/* formulario */
.formulario {
  display: flex;
  background-color: var(--azul);
}

/*Cursos*/
.cursos-descripcion {
  text-align: center;
  margin-top: 20px;
}

.cursos-descripcion h3 {
  margin: 1rem;
}

/* MediaQuerie */
@media (min-width: 1000px) {
  .cursos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
    gap: 50px;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .menu {
    transform: translateX(0);
    order: 0;
    position: static;
    align-items: center;
    margin-top: -6rem;
  }

  .logo-menu {
    display: none;
  }
}
